@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.025);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll {
  opacity: 0;
  transform: scale(0.025);
  animation: appear 1s ease-out forwards;
  animation-play-state: paused;
}

.scroll.visible {
  animation-play-state: running;
}

.tarjeta {
  transition-duration: 500ms;
  transition-delay: 5ms;
  transition-timing-function: cubic-bezier(0.71, 0.04, 0.28, 1.27);
}

.tarjeta:hover {
  scale: 1.05;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  transition-duration: 1s;
}

.peticion {
  transition-duration: 500ms;
}

.peticion:hover {
  scale: 1.025;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.boton {
  transition-duration: 500ms;
}
.boton:hover {
  scale: 1.125;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.icono {
  border-radius: 50%;
  transition-duration: 500ms;
}
.icono:hover {
  scale: 1.5;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

@keyframes textos {
  0% {
    opacity: 0;
    transform: scale(0.025);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.textos {
  opacity: 0;
  transform: scale(0.025);
  animation: appear 1s ease-out forwards;
}
